.navbar {
  background-color: #75c473;
  padding: 10px;
  color: white;
  border-bottom-style: ridge;
}

.content-title{
  text-align: center;
  padding-top: 2%;
}

.content-paragraph{
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
}

.card-columns{
  padding-left: 5%;
  padding-right: 5%;
  vertical-align: center;
  padding-bottom: 30%;
}

.card{
  background-color: #75c473;
  margin: 2%;
  min-width: 18rem;
}

.card-button{
  background-color: white;
  color: black;
}

.card-thumbnail{
  width: 100%;
}

.border-bottom{
  height: 20%;
}

iframe{      
  display: block;  /* iframes are inline by default */   
  height: 99vh;  /* Set height to 99% of the viewport height */   
  width: 99vw;  /* Set width to 99% of the viewport width */     
  border: none; /* Remove default border */
  background: lightyellow; /* Just for styling */
  margin-top: -1px;
}